SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

22 09 * * * root /bin/bash -c 'cd /app && sleep 20 && /usr/local/bin/python price_change_detector.py'
22 09 * * * root /bin/bash -c 'cd /app && sleep 45 && python ftp_upload.py /app/logs/fpl_prices.html fpl_prices.html'

